KUMA_PUSH_URL=https://uptime-kuma.example.com/your_push_url

# Keep the | to handle newlines in the SSH key
SSH_KEY_PRIVATE=|
  -----BEGIN OPENSSH PRIVATE KEY-----
  b3BlbnNzaC1rZXktdjEAAAA...
  -----END OPENSSH PRIVATE KEY-----
