KUMA_PUSH_URL=https://uptime-kuma.example.com/your_push_url
# TARGET_REPO_URL="ssh://root@example.com:22/backups"

SSH_KEY_PRIVATE="-----BEGIN OPENSSH PRIVATE KEY-----
b3BlbnNzaC1rZXktdjEAAAA...
-----END OPENSSH PRIVATE KEY-----"
