WIREGUARD_ENDPOINT=public-ip-of-machine-b.com:51821
WIREGUARD_PRIVATE_KEY=your_wg_private_key_A
WIREGUARD_PEER_PUBLIC_KEY=your_wg_public_key_B

KUMA_PUSH_URL=https://uptime-kuma.example.com/your_push_url
# TARGET_REPO_URL="ssh://root@example.com:22/backups"

SSH_KEY_PRIVATE="-----BEGIN OPENSSH PRIVATE KEY-----
b3BlbnNzaC1rZXktdjEAAAA...
-----END OPENSSH PRIVATE KEY-----"

