WIREGUARD_ENDPOINT=public-ip-of-machine-b.com:51821
WIREGUARD_PRIVATE_KEY=your_wg_private_key_A
WIREGUARD_PEER_PUBLIC_KEY=your_wg_public_key_B

KUMA_PUSH_URL=https://uptime-kuma.example.com/your_push_url

# Keep the | to handle newlines in the SSH key
SSH_KEY_PRIVATE=|
  -----BEGIN OPENSSH PRIVATE KEY-----
  b3BlbnNzaC1rZXktdjEAAAA...
  -----END OPENSSH PRIVATE KEY-----
