WIREGUARD_PRIVATE_KEY=your_wg_private_key_B
WIREGUARD_PEER_PUBLIC_KEY=your_wg_public_key_A

SSH_KEY_PUBLIC=ssh-ed25519 AAAAC3NzaC1lZDI1NTE5...

KUMA_TARGET_URL=https://kuma.yourdomain.com/api/push/ID
